.table-container {
  overflow-y: auto;
  max-height: 20em;
  position: relative; /* Necesario para fijar el thead */
}

#table {
  border-collapse: separate;
  width: 100%;
}

#table th,
#table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#table th {
  background-color: #30ab7ff5;
  color: #333;
}

#table thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Estilos para las filas impares */
#table tbody tr:nth-child(odd) {
  background-color: #bee5c480;
}

/* Estilos para las filas pares */
#table tbody tr:nth-child(even) {
  background-color: #d3f0e8ad;
}

h1 {
  text-align: center;
}